body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: linear-gradient(to right, rgb(144, 170, 225), rgb(118, 88, 143));
  color: #333;
  border-top: none; /* Remove a borda superior */
  border: 5px #333;

}

.App {
  padding-top: 60px; /* Para compensar o cabeçalho fixo */
  border: 30px solid #0a0b0b; /* Agora está correto */
  border-top: none; /* Remove a borda superior */
  margin: 0px;
  min-height: 100vh; /* Garante que a página sempre ocupe a tela toda */
  display: flex;
  flex-direction: column;
}


html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  scroll-behavior: smooth;

}



main {
  flex: 1; /* Faz o conteúdo expandir corretamente */
}






